---
layout: base
title: Home
---

<main class="template-index">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-6 d-flex flex-column align-items-start justify-content-center">
          <h1 class="hero-title">Open Source API Framework for Data</h1>
          <p class="hero-text">
            Stargate makes it easy to use a database for any application workload by adding plugin support for new APIs,
            data types, and access methods
          </p>
          <div class="hero-buttons">
            <a href="{{ '/docs' | relative_url }}" class="btn btn-primary hero-btn">Get Started</a>
            <a href="https://github.com/{{ site.github_repository }}" target="_blank" rel="noopener noreferrer"
              class="btn btn-icon hero-btn btn-github">
              <span>
                {% include logos/github.html %}
              </span>
              <span>Github</span>
            </a>
          </div>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid hero-image lazyload" data-src="{{ '/assets/images/astranaut.png' | relative_url }}"
            alt="Stargate astronaut" width="448" height="760">

          <div class="github-stats hidden" id="github-stats" data-repository="{{ site.github_repository }}">
            <div class="git-stat git-watchers">
              <div class="git-stat__info">
                {% include icons/watch.html %}
                <span>&nbsp;Watch</span>
              </div>

              <span id="git-watchers">{{ site.github_watchers }}</span>
            </div>
            <div class="git-stat git-stars">
              <div class="git-stat__info">
                {% include icons/star.html %}
                <span>&nbsp;Star</span>
              </div>

              <span id="git-stars">{{ site.github_stars }}</span>
            </div>
            <div class="git-stat git-forks">
              <div class="git-stat__info">
                {% include icons/fork.html %}
                <span>&nbsp;Fork</span>
              </div>

              <span id="git-forks">{{ site.github_forks }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog">
    <div class="container-fluid spaced">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <h2 class="catalog-title">API Extensions Catalog</h2>
          <p class="catalog-info">
            Use the community-built API extensions or develop your own to make your data work for you.
          </p>
        </div>
      </div>

      <div class="row catalog-items">
        <div class="col-md-6 catalog-item__container">
          <div class="catalog-item">
            <div class="col-md-5 catalog-item__image-container">
              <img class="catalog-item__image img-fluid lazyload"
                data-src="{{ '/assets/images/eye.png' | relative_url }}" alt="Eye" width="120" height="64">
            </div>
            <div class="col-md-7">
              <p class="catalog-item__text">
                <a href="https://stargate.io/docs/stargate/1.0/developers-guide/cql.html" target="_blank"
                  rel="noopener noreferrer">
                  Use the native Cassandra Query Language to access your data in Cassandra
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 catalog-item__container">
          <div class="catalog-item">
            <div class="col-md-5 catalog-item__image-container">
              <img class="catalog-item__image img-fluid lazyload"
                data-src="{{ '/assets/images/restapi.png' | relative_url }}" alt="{Rest API}" width="180" height="28">
            </div>
            <div class="col-md-7">
              <p class="catalog-item__text">
                <a href="https://stargate.io/docs/stargate/1.0/developers-guide/rest.html" target="_blank" rel="noopener noreferrer">
                  Serve a RESTful API from any Cassandra database
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 catalog-item__container">
          <div class="catalog-item">
            <div class="col-md-5 catalog-item__image-container">
              <img class="catalog-item__image img-fluid lazyload"
                data-src="{{ '/assets/images/graphql-logo.svg' | relative_url }}" alt="GraphQL" width="90" height="auto">
            </div>
            <div class="col-md-7">
              <p class="catalog-item__text">
                <a href="https://stargate.io/docs/stargate/1.0/developers-guide/graphql.html" target="_blank" rel="noopener noreferrer">
                  Serve a GraphQL API from any Cassandra database
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 catalog-item__container">
          <div class="catalog-item">
            <div class="col-md-5 catalog-item__image-container">
              <img class="catalog-item__image img-fluid lazyload"
                data-src="{{ '/assets/images/json-api.png' | relative_url }}" alt="JSON" width="90" height="auto">
            </div>
            <div class="col-md-7">
              <p class="catalog-item__text">
                <a href="https://stargate.io/docs/stargate/1.0/developers-guide/document.html" target="_blank" rel="noopener noreferrer">
                  Save and search schemaless JSON documents
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="latest-posts">
  <div class="container-fluid spaced">
    <div class="row">
      <div class="col">
        <h2 class="latest-posts__title">Latest from Stargate</h2>
      </div>
    </div>

    <div class="row">
      {% for post in site.posts limit: 3 %}
        <div class="col latest-post__item-container">
          <div class="latest-post__item">
            <h2 class="latest-post__item-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>

            <p class="latest-post__item-content">
              {{ post.synopsis }}
            </p>

            <div class="latest-post__item-info">
              <span>By <span class="link">{{ post.author_info.name.first }}
                  {{ post.author_info.name.last }}</span></span>
              &#8226;
              <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="{{ '/blog' | relative_url }}" class="btn btn-primary btn-more">See More</a>
      </div>
    </div>
  </div>
</div>
