---
layout: base
title: Home
hide_banner: true
---

<main class="template-index">
  <div class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 d-flex flex-column align-items-center text-center">
          <h1 class="hero-title">Open Source Data API Gateway</h1>
          <p class="hero-text">
            Stargate is an open source data API gateway that sits between your app and your databases. Stargate brings
            together an API platform and data request coordination code into one OSS project.
          </p>
          <div class="buttons-hero">
            <a href="{{ '/docs' | relative_url }}" class="btn btn-white hero-btn">Get Started</a>
            <a href="https://github.com/{{ site.github_repository }}" target="_blank" rel="noopener noreferrer"
              class="btn btn-icon hero-btn btn-github">
              <span>
                {% include logos/github.html %}
              </span>
              <span>Github</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="latest-blog">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>Latest From Stargate</h2>
        </div>
      </div>
      <div class="row">
        {% for post in site.posts limit: 3 %}
          <div class="col-lg-4 col-md-4 d-flex">
            <a class="post-card" href="{{ post.url | relative_url }}">
              <p>{{ post.title | escape }}</p>
              <span>
                <span>By <span class="link">{{ post.author_info.name.first }}
                    {{ post.author_info.name.last }}</span></span>
                &#8226;
                <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                </span>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="{{ '/blog' | relative_url }}" class="btn btn-primary btn-more-blog">See More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="latest-release">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p id="github-releases" className="github-releases hidden" data-repository="{{ site.github_repository }}">
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="index-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
          <p>Stargate is the official data API for DataStax Astra DB and DataStax Enterprise!</p>
          <a href="https://astra.datastax.com/register" class="btn btn-banner">
            Try It Now
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="what-is-stargate">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2 class="what-is-stargate__title">What is Stargate?</h2>
          <div class="what-is-stargate__text">
            <p>Stargate abstracts Cassandra-specific concepts entirely from app
              developers and supports different API options, removing barriers of entry for new software developers.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="what-is-stargate__player" data-toggle="modal" data-target="#what-is-stargate-video-modal">
            {% include icons/play.html %}
            <img class="img-fluid what-is-stargate__image lazyload"
              data-src="{{ '/assets/images/explainer-cover.png' | relative_url }}" alt="Stargate astronaut" width="448"
              height="760">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog">
    <div class="container-fluid spaced">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2 class="catalog-title">API Extensions Catalog</h2>
            </div>
          </div>

          <div class="row catalog-items">
            <div class="col-lg-6 catalog-item__container">
              <div class="catalog-item">
                <div class="col-lg-5 catalog-item__image-container">
                  <img class="catalog-item__image img-fluid lazyload"
                    data-src="{{ '/assets/images/json-api.png' | relative_url }}" alt="JSON API" width="90"
                    height="auto">
                </div>
                <div class="col-lg-7">
                  <p class="catalog-item__text">
                    <a href="https://stargate.io/docs/latest/develop/dev-with-doc.html"
                      target="_blank" rel="noopener noreferrer">
                      Save and search schemaless JSON documents
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 catalog-item__container">
              <div class="catalog-item">
                <div class="col-lg-5 catalog-item__image-container">
                  <img class="catalog-item__image img-fluid lazyload"
                    data-src="{{ '/assets/images/graphql-logo.svg' | relative_url }}" alt="GraphQL" width="90"
                    height="auto">
                </div>
                <div class="col-lg-7">
                  <p class="catalog-item__text">
                    <a href="https://stargate.io/docs/latest/develop/graphql.html" target="_blank"
                      rel="noopener noreferrer">
                      Serve a GraphQL API from any Cassandra database
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 catalog-item__container">
              <div class="catalog-item">
                <div class="col-lg-5 catalog-item__image-container">
                  <img class="catalog-item__image img-fluid lazyload"
                    data-src="{{ '/assets/images/restapi.png' | relative_url }}" alt="{Rest API}" width="180"
                    height="28">
                </div>
                <div class="col-lg-7">
                  <p class="catalog-item__text">
                    <a href="https://stargate.io/docs/latest/develop/dev-with-rest.html"
                      target="_blank" rel="noopener noreferrer">
                      Serve a RESTful API from any Cassandra database
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 catalog-item__container">
              <div class="catalog-item">
                <div class="col-lg-5 catalog-item__image-container">
                  <img class="catalog-item__image img-fluid lazyload"
                    data-src="{{ '/assets/images/grpc.png' | relative_url }}" alt="gRPC" width="90" height="">
                </div>
                <div class="col-lg-7">
                  <p class="catalog-item__text">
                    <a href="https://stargate.io/docs/latest/develop/dev-with-grpc.html" target="_blank"
                      rel="noopener noreferrer">
                      Serve a Google RPC (gRPC) API from any Cassandra database
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 catalog-item__container">
              <div class="catalog-item">
                <div class="col-lg-5 catalog-item__image-container">
                  <img class="catalog-item__image img-fluid lazyload"
                       data-src="{{ '/assets/images/eye.png' | relative_url }}" alt="Eye" width="120" height="64">
                </div>
                <div class="col-lg-7">
                  <p class="catalog-item__text">
                    <a href="https://stargate.io/docs/latest/develop/dev-with-cql.html" target="_blank"
                       rel="noopener noreferrer">
                      Use the native Cassandra Query Language to access your data in Cassandra
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="github-stats hidden" id="github-stats" data-repository="{{ site.github_repository }}">
    <div class="git-stat git-watchers">
      <div class="git-stat__info">
        {% include icons/watch.html %}
        <span>&nbsp;Watch</span>
      </div>

      <span id="git-watchers">{{ site.github_watchers }}</span>
    </div>
    <div class="git-stat git-stars">
      <div class="git-stat__info">
        {% include icons/star.html %}
        <span>&nbsp;Star</span>
      </div>

      <span id="git-stars">{{ site.github_stars }}</span>
    </div>
    <div class="git-stat git-forks">
      <div class="git-stat__info">
        {% include icons/fork.html %}
        <span>&nbsp;Fork</span>
      </div>

      <span id="git-forks">{{ site.github_forks }}</span>
    </div>
  </div>
</main>

<div class="modal" id="what-is-stargate-video-modal" tabindex="-1" role="dialog"
  aria-labelledby="WhatIsStargateVideoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe id="whatis-stargate-video" src="https://www.youtube.com/embed/2ltVf2EscmM?enablejsapi=1" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
