<footer class="footer">
  <div class="container-fluid spaced">
    <div class="row">
      <div class="col-md-4">
        <p class="copyright">
          © 2021 Stargate Project Authors
        </p>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-end align-items-center footer-social-links">
          <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener noreferrer"
            class="footer-social-link">
            {% include logos/twitter.html %}
          </a>
          <a href="https://groups.google.com/a/lists.stargate.io/g/stargate-users" target="_blank"
            rel="noopener noreferrer" class="footer-social-link">
            {% include icons/mail.html %}
          </a>
          <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"
            class="footer-social-link">
            {% include logos/github.html %}
          </a>
          <a href="https://discord.com/invite/5gY8GDB" target="_blank" rel="noopener noreferrer"
            class="footer-social-link">
            {% include logos/discord.html %}
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="footer-note">Stargate is an open source project and all source code is distributed under the <a
            href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" rel="noopener noreferrer">Apache v2.0
            license</a></p>
      </div>
      <div class="col-md-4">
        <div class="footer-links">
          <a class="donwload-link" href="{{ '/assets/downloads/Stargate-Logos.zip' | relative_url }}" download>
            {% include icons/download.html %}&nbsp;
            <span>Brand Assets</span>
          </a>
          <a href="#" onclick="event.preventDefault()" id="ot-sdk-btn" class="ot-sdk-show-settings">Cookies Settings</a>
        </div>
      </div>
    </div>
  </div>
</footer>
