<nav class="navbar fixed-top navbar-expand-lg {% unless page.hide_banner %}with-banner{% endunless %}"
  id="stargate-main-navigation">
  {% unless page.hide_banner %}
  <div class="banner">
    <div class="d-flex align-items-center justify-content-center">
      <p>Stargate is the official data API for DataStax Astra and DataStax Enterprise!</p>&nbsp;
      <a href="https://astra.datastax.com/register">Try It Now</a>
    </div>
  </div>
  {% endunless %}
  <div class="container-fluid spaced">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      {% include logos/stargate.html %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#stargate-navigation"
      aria-controls="stargate-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <svg width="1em" height="1em" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="4.62476" width="37" height="3.46857" rx="1.73429" fill="white" />
        <rect y="16.1866" width="37" height="3.46857" rx="1.73429" fill="white" />
        <rect y="27.7485" width="37" height="3.46857" rx="1.73429" fill="white" />
      </svg>

    </button>

    <div class="collapse navbar-collapse" id="stargate-navigation">
      <div class="navbar-nav ml-auto">
        <div class="navbar-nav__items">
          {% for item in site.data.navigation %}
          <a class="nav-item nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
          {% endfor %}

          <form class="search-form searchbar" role="search" id="hiddenSearchBox" action="{{ '/results' | relative_url}}"
            method="get">
            <div class="input-group">
              <input type="search" name="q" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default" data-toggle="searchbar" data-target="#hiddenSearchBox">
                  <span>{% include icons/search.html %}</span> <span class="sr-only">Submit</span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="navbar-social-links">
          <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener noreferrer"
            class="nav-item nav-link nav-link-logo">
            {% include logos/twitter.html %}
          </a>

          <a href="https://groups.google.com/a/lists.stargate.io/g/stargate-users" target="_blank"
            rel="noopener noreferrer" class="nav-item nav-link nav-link-logo">
            {% include icons/mail.html %}
          </a>
          <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"
            class="nav-item nav-link nav-link-logo">
            {% include logos/github.html %}
          </a>
          <a href="https://discord.com/invite/5gY8GDB" target="_blank" rel="noopener noreferrer"
            class="nav-item nav-link nav-link-logo">
            {% include logos/discord.html %}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
