<div class="newsletter-card">
  <div class="heading-content">
    <h2>Get the latest Stargate news and updates</h2>
    <img
      src="{{ '/assets/images/helmet.png' | relative_url }}"
      alt="Helmet"
      width="164"
      height="auto"
      loading="lazy"
    />
  </div>
  <div class="content-form">
    <form newsletter-form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role">
          <option>Role 1</option>
          <option>Role 2</option>
          <option>Role 3</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  </div>
</div>
