.template-index {
  background-color: #222b49;
  background-image: url($baseurl + "/assets/images/index-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-down(md) {
    background-image: url($baseurl + "/assets/images/index-mobile-bg.png");
  }
}

.hero {
  padding: 40px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
}

.hero-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

.buttons-hero {
  display: flex;
  align-items: center;

  .btn {
    margin-right: 1rem;
    color: #555dc0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.hero-image {
  @include media-breakpoint-down(md) {
    max-width: 50%;
    margin-top: 2rem;
  }
}

.hero-btn {
  margin-top: 1rem;
  padding: 0.75rem 2.25rem;
  line-height: 1.5em;
  height: 48px;

  &.btn-github {
    text-transform: none;
    font-size: 1rem;
    line-height: 1em;

    svg {
      width: 2em;
    }
  }
}

.template-index .latest-blog {
  padding: 20px 0 60px;

  h2 {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 32px;
  }

  .post-card {
    padding: 30px;
    background: #222B49;
    border-radius: 6px;
    display: block;
    text-decoration: none;
    margin-bottom: 32px;
    width: 100%;

    p {
      font-style: normal;
      font-weight: 800;
      font-size: 1rem;
      line-height: 1.5em;
      color: #FFFFFF;
      margin-bottom: 14px;
    }

    span {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #FFFFFF;

      &.link {
        color: #C9CEF6;
        font-weight: 700;
      }
    }
  }

  .btn-more-blog {
    padding: 12px 35px;
    background: #555DC0;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.389em;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
}

.latest-release {
  font-size: 1rem;
  line-height: 1.375em;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 80px;

  a, span {
    color: #C9CEF6;
  }

  span {
    font-weight: 700;
  }
}

.catalog {
  padding-top: 40px;
}

.catalog-title {
  font-weight: 800;
  font-size: 2.25rem;
  text-align: center;
  color: $white;
}

.catalog-info {
  font-size: 1.125rem;
  text-align: center;
  color: $white;
}

.catalog-items {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog-item__container {
  margin-bottom: 1rem;
}

.catalog-item {
  display: flex;
  align-items: stretch;
  background-color: $white;
  border-radius: 0.5rem;
  height: 100%;
  padding: 1rem 0;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.catalog-item__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #555dc0;

  @include media-breakpoint-down(md) {
    border-right: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.catalog-item__text {
  padding: 2rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #555dc0;
  margin: 0;
}

.github-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;

  &.hidden {
    display: none;
  }
}

.git-stat {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
  background: $white;
  margin: 0.5rem;

  @include media-breakpoint-down(md) {
    padding-right: 0;

    #git-watchers,
    #git-stars,
    #git-forks {
      display: none;
    }
  }
}

.git-stat__info {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-right: 1px solid #c8cbd3;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;

  @include media-breakpoint-down(md) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-right: 0;
    border-right: none;
  }
}

.latest-posts {
  background-color: #ffffff;
  padding: 80px 0;

  .btn {
    margin-top: 60px;
  }

  @include media-breakpoint-down(md) {
    padding: 60px 0;

    .btn {
      margin-top: 50px;
    }
  }
}

.latest-posts__title {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #222b49;
  margin-bottom: 40px;
  margin-top: 0;
}

.latest-post__item {
  padding: 30px;

  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
}

.latest-post__item-container:not(:last-of-type) {
  .latest-post__item {
    border-right: 1px solid #c9cef6;
  }

  @include media-breakpoint-down(md) {
    .latest-post__item {
      border-right: none;
      border-bottom: 1px solid #c9cef6;
    }
  }
}

.latest-post__item-container {
  @include media-breakpoint-down(md) {
    min-width: 100%;
  }
}

.latest-post__item-title,
.latest-post__item-title a {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #222b49;
}

.latest-post__item-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.latest-post__item-content {
  font-size: 16px;
  line-height: 1.5;
  color: #6a7086;
  margin-bottom: 30px;
}

.latest-post__item-info {
  font-size: 14px;
  line-height: 1.5;
  color: #6a7086;

  .link {
    color: #555dc0;
    font-weight: 600;
  }
}

.index-banner {
  background: #555dc0;
  padding: 2.25rem;

  p {
    font-weight: 800;
    font-size: 1.3125rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.what-is-stargate {
  padding-top: 60px;
  padding-bottom: 20px;
}

.what-is-stargate__title {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.what-is-stargate__text {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;

  p {
    margin: 0;
  }
}

.what-is-stargate__player {
  position: relative;
  display: block;
  margin-top: 2rem;
  cursor: pointer;

  .play-icon {
    font-size: 5rem;
    color: #555dc0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.what-is-stargate__image {
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

