.template-index {
  background-color: #222b49;
  background-image: url($baseurl + "/assets/images/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.hero {
  padding: 40px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 2.25rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
}

.hero-buttons {
  display: flex;
  align-items: center;

  .btn {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.hero-image {
  @include media-breakpoint-down(md) {
    max-width: 50%;
    margin-top: 2rem;
  }
}

.hero-btn {
  margin-top: 1rem;
  padding: 0.75rem 2.25rem;
  line-height: 1;

  &.btn-github {
    text-transform: none;
    font-size: 1rem;
    
    svg {
      width: 2em;
    }
  }
}

.catalog {
  padding: 40px 0;
}

.catalog-title {
  font-weight: 800;
  font-size: 2.25rem;
  text-align: center;
  color: $white;
}

.catalog-info {
  font-size: 1.125rem;
  text-align: center;
  color: $white;
}

.catalog-items {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog-item__container {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.catalog-item {
  display: flex;
  align-items: stretch;
  background-color: $white;
  border-radius: 0.5rem;
  height: 100%;
  padding: 1rem 0;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.catalog-item__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #555dc0;

  @include media-breakpoint-down(md) {
    border-right: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.catalog-item__text {
  padding: 2rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #555dc0;
  margin: 0;
}

.github-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  &.hidden {
    display: none;
  }
}

.git-stat {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
  background: $white;
  margin: 0.5rem;

  @include media-breakpoint-down(md) {
    padding-right: 0;

    #git-watchers,
    #git-stars,
    #git-forks {
      display: none;
    }
  }
}

.git-stat__info {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-right: 1px solid #c8cbd3;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;

  @include media-breakpoint-down(md) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-right: 0;
    border-right: none;
  }
}
