---
layout: base
classes: dark-navigation
---

<main class="single-page spaced">
  <div class="container">
    {% if page.hide_title == false %}
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center mb-4">
          <h1 class="single-post__title">{{ page.title }}</h1>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="single-page__content">
          {{ content }}
        </div>
      </div>
    </div>

  </div>
</main>