---
layout: base
---

<section class="hero-blog">
  <div class="container-fluid spaced">
    <div class="row">
      <div class="col">
        <h1 class="hero-blog__title">Blog</h1>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid spaced">
  <div class="row">
    <div class="col">
      <a href="{{ '/blog' | relative_url }}" class="btn btn-link btn-link-back">
        <svg width="0.64em" height="1em" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 1L2 7L8 13" stroke="currentColor" stroke-width="2" />
        </svg>
        <span>Back</span>
      </a>
    </div>
  </div>
</section>

<main class="single-page small">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <h1 class="single-post__title">{{ page.title }}</h1>
        <h4 class="single-post__subtitle">{{ page.subtitle }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="post-item__info">
          <img data-src="{{ page.author_info.picture | relative_url }}"
            alt="{{ page.author_info.name.first }} {{ page.author_info.name.last }}"
            class="post-item__info-author_image lazyload" width="32" height="32">
          {% assign main_author = page.author_info.name.first | append: " " | append: page.author_info.name.last %}
          {% assign authors = main_author %}
          {% if page.extra_authors != nil %}
            {% assign extra_authors = page.extra_authors | join: ", " %}
            {% assign authors = main_author | append: ", " | append: extra_authors %}
          {% endif %}
          <span>By <span class="link">{{ authors }}</span>
          </span>
          &#8226;
          <span>{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="single-page__content">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="tags">
          {% if page.tags %}
          {% for tag in page.tags %}
            {% assign tag_slug = tag | slugify %}
            {% assign tag_url = '/tags/' | append: tag_slug %}
            <a href="{{ tag_url | relative_url }}" class="tag-link">{{ tag }}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="share-section">
          <h3 class="share-section__title">Share</h3>

          <div class="share-buttons">
            {% assign url = page.url | absolute_url %}
            {% include share-buttons.html url=url %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>