---
layout: base
autopages:
  permalink: /tags/:tag
pagination:
  enabled: true
---
<main class="template-blog">

  <div class="hero-blog">
    <div class="container-fluid spaced">
      <div class="row">
        <div class="col">
          <h1 class="hero-blog__title">Blog</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="blog-posts">
    <div class="container-fluid spaced">
      <div class="row">
        <div class="col-md-8">
          <div class="posts">
            {% for post in paginator.posts %}
              {% include post-item.html %}
            {% endfor %}
          </div>

          {% include pagination.html %}
        </div>

        <div class="col-md-4">
          <h2 class="blog-tags">Tags</h2>

          {% include site-tags.html %}
        </div>
      </div>
    </div>
  </section>
</main>